name: RDP

on:
  workflow_dispatch:

jobs:
  secure-rdp:
    runs-on: windows-latest
    timeout-minutes: 3600

    steps:
      - name: Configure Core RDP Settings
        shell: pwsh
        run: |
          Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server' -Name fDenyTSConnections -Value 0 -Force
          Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server\WinStations\RDP-Tcp' -Name UserAuthentication -Value 0 -Force
          netsh advfirewall firewall add rule name="RDP" dir=in action=allow protocol=TCP localport=3389
          Restart-Service TermService -Force

      - name: Create RDP User
        shell: pwsh
        run: |
          $pass = "P@ssw0rd123!"
          net user RDP $pass /add
          net localgroup administrators RDP /add
          echo "RDP_PASS=$pass" >> $env:GITHUB_ENV

      - - name: Install Tailscale
  shell: pwsh
  run: |
    Invoke-WebRequest https://pkgs.tailscale.com/stable/tailscale-setup-1.82.0-amd64.msi -OutFile ts.msi
    Start-Process -FilePath "msiexec.exe" -ArgumentList "/i ts.msi /quiet /norestart" -Wait

